@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Great+Vibes&family=Lobster&family=Marck+Script&family=Pacifico&family=Poiret+One&family=Roboto+Slab&display=swap');

#headerBox {
    text-align: center;
    border-bottom: 2px solid;
}

#selectTextBox {
    text-align: center;
}

#mainTopicsBox {
    padding-top: 5%;
    padding-bottom: 5%;
}

#musicTopic {
    margin-left: 9.5%;
    width:25%;
    background-color: blue;
    display: inline-block;
    height: 400px;
    background-image: url('../images/music.jpg');
    background-position: center;
    font-family: 'Pacifico', cursive;
}
#modArtTopic{
    margin-left: 3%;
    width:25%;
    background-color: yellow;
    display: inline-block;
    height: 400px;
    background-image: url('../images/modArt.jpg');
    background-position: center;
}
#codingTopic{
    margin-left: 3%;
    width:25%;
    background-color: teal;
    display: inline-block;
    height: 400px;
    background-image: url('../images/coding.jpg');
    background-position: center;
}

#buttonBox {
    display: flex;
}

#musicButton {
    background-color: teal;
    width: 10%;
    text-align: center;
    padding: 1%;
    margin-top: 1%;
    margin-left: 17%;
    font-size: large;
    font-weight: bold;
    border-radius: 7%;
  }
  #modernArtButton {
    background-color: teal;
    width: 10%;
    margin-left: 17.5%;
    padding: 1%;
    margin-top: 1%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 7%;
  }
  #codingButton {
    background-color: teal;
    width: 10%;
    margin-left: 18.5%;
    padding: 1%;
    margin-top: 1%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 7%;
  }

  #welcomeTextBox {
    padding-top: 0;
    margin-top: 0;
    background-color: cadetblue;
    display: inline-block;
    width: 100%;
  }

  #musicButton:hover {
    color: rgb(255,255,255);
    transition: 0.2s 0.1s;
    background-color: black;
  }

  #modernArtButton:hover {
    color: rgb(255,255,255);
    transition: 0.2s 0.1s;
    background-color: black;
  }

  #codingButton:hover {
    color: rgb(255,255,255);
    transition: 0.2s 0.1s;
    background-color: black;
  }

