body {
  font-family: Arial, Helvetica, sans-serif;
}

#headerBox {
    text-align: center;
}

#selectTextBox {
    text-align: center;
}

#mainTopicsBox {
    padding-top: 5%;
    padding-bottom: 5%;
}

#musicTopic {
    margin-left: 9.5%;
    width:25%;
    background-color: blue;
    display: inline-block;
    height: 400px;
    background-image: url('../images/music.jpg');
    background-position: center;
}
#modArtTopic{
    margin-left: 3%;
    width:25%;
    background-color: yellow;
    display: inline-block;
    height: 400px;
    background-image: url('../images/modArt.jpg');
    background-position: center;
}
#codingTopic{
    margin-left: 3%;
    width:25%;
    background-color: teal;
    display: inline-block;
    height: 400px;
    background-image: url('../images/coding.jpg');
    background-position: center;
}

#buttonBox {
    display: flex;
}

#musicButton {
    background-color: teal;
    width: 10%;
    text-align: center;
    padding: 1%;
    margin-top: 1%;
    margin-left: 17%;
    font-size: medium;
    font-weight: bold;
    border-radius: 7%;
  }
  #modernArtButton {
    background-color: teal;
    width: 10%;
    margin-left: 17.5%;
    padding: 1%;
    margin-top: 1%;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    border-radius: 7%;
  }
  #codingButton {
    background-color: teal;
    width: 10%;
    margin-left: 18.5%;
    padding: 1%;
    margin-top: 1%;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    border-radius: 7%;
  }

  #welcomeTextBox {
    padding-top: 0;
    margin-top: 0;
    background-color: cadetblue;
    display: inline-block;
    width: 100%;
  }

  #musicButton:hover:enabled {
    color: rgb(255,255,255);
    transition: 0.2s 0.1s;
    background-color: black;
  }

  #modernArtButton:hover:enabled {
    color: rgb(255,255,255);
    transition: 0.2s 0.1s;
    background-color: black;
  }

  #codingButton:hover:enabled {
    color: rgb(255,255,255);
    transition: 0.2s 0.1s;
    background-color: black;
  }

#footer {
  background-color: #2b333b;
  color: white;
  padding: 1%;
  display: inline-block;
  width: 100%;
}

#loveBox {
  float: left;
  margin-top: 1%;
}

#teamInfoBox {
  float: right;
}

#scoreDivFinal {

}

#reportDivFinal {
  height: 120Px;
  border: 1px solid;
  margin-top: 1%;
}

#scoreBtn {
  background-color: teal;
  text-align: center;
  margin-left: 45%;
  height: 50px;
  width: 150px;
}

#question-box {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif
}

#buttonContainer {
  display: inline-block;
  width: 100%;
}

