#mainDiv {
  border: solid;
  background-color: whitesmoke;
  text-align: center;
  width: 77%;
  height: 300px;
  margin-left: 10%;
  margin-top: 10%;
  padding-top: 10%;
}

#topicDiv {
  /* margin-top: 20%; */
  margin-bottom: 5%;
}

#scoresDiv {
  text-align: right;
  margin-right: 2%;
  text-decoration: underline;
}

#questionDiv {
  background-color: rgb(120, 35, 120);
}
#optionOne {
  text-align: center;
  display: flex;
  margin: 20px;
}
#optionTwo {
  text-align: center;
  display: flex;
  margin: 20px;
}
#optionThree {
  text-align: center;
  display: flex;
  margin: 20px;
}

#optionFour {
  text-align: center;
  display: flex;
  margin: 20px;
}
#checkBtn {
  background-color: lightgray ;
  width: 100px;
  height: 40px;
  /* display: inline-block; */
  text-align: center;
  padding: 1%;
  margin-top: 2%;
  border: solid;
  border-radius: 8px;
  margin-bottom: 1%;
  /* float: right; */
  margin-left: 43%;
}
#nextBtn {
  background-color: teal;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 1%;
  margin-top: 2%;
  border: solid;
  border-radius: 8px;
  margin-bottom: 1%;
  float: right;
}

#previousBtn {
  background-color: teal;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 1%;
  margin-top: 2%;
  border: solid;
  border-radius: 8px;
  margin-bottom: 1%;
}

#title {
  border-bottom: 3px solid black;
  width: 100%;
}

#close-btn {
  border-radius: 5px;
   float: right; 
  font-family: inherit;
  font-size: 15px;
  display: inline-block;
  margin-top: 1%;
  background-color: teal;
}

#radio-btn {
  margin: 10px;
}

#questionHeader {
  text-align: center;
}

#questionFooter {
bottom: 0;
left: 0;
}

#questionFooter1 {
bottom: 3;
left: 0;
}

#questionFooter2 {
bottom: 5;
left: 0;
}


#score {
  margin-left: 40%;
  display: inline-block;
}

#textPara {
  display: inline-block;
}

#mainBody {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
