#mainDiv {
  border: solid;
  background-color: whitesmoke;
  text-align: center;
  width: 80%;
  height: 300px;
  margin-left: 10%;
  margin-top: 10%;
  padding-top: 10%;
}

#topicDiv {
  /* margin-top: 20%; */
  margin-bottom: 5%;
}

#scoresDiv {
  text-align: right;
  margin-right: 2%;
  text-decoration: underline;
}

#questionDiv {
  background-color: rgb(120, 35, 120);
}
#optionOne {
  text-align: center;
  display: flex;
}
#optionTwo {
  text-align: center;
  display: flex;
}
#optionThree {
  text-align: center;
  display: flex;
}

#optionFour {
  text-align: center;
  display: flex;
}
#previousBtn {
  background-color: teal;
  width: 100px;
  height: 40px;
  display: inline-block;
  text-align: center;
  padding: 1%;
  margin-top: 2%;
  border: solid;
  border-radius: 8px;
  margin-bottom: 1%;
}
#nextBtn {
  background-color: teal;
  width: 100px;
  height: 40px;
  display: inline-block;
  text-align: center;
  padding: 1%;
  margin-top: 2%;
  margin-left: 75%;
  border: solid;
  border-radius: 8px;
  margin-bottom: 1%;
}

#question-box {
  text-align: left;
  font-family: 'Pacifico', cursive;
}
